@keyframes glow {
  0% {
    background-color: #fff9c4;
    box-shadow: 0 0 5px #fff9c4;
  }
  50% {
    background-color: #fffde7;
    box-shadow: 0 0 20px #fffde7;
  }
  100% {
    background-color: transparent;
    box-shadow: none;
  }
}

.glow-effect {
  animation: glow 1.5s ease-out;
}

/* Helper class to hide elements on mobile screens */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* --- TOAST NOTIFICATION (FIX z-index) --- */
#toast-notification {
    z-index: 99999 !important;
    visibility: hidden; /* Garantir estado padrão */
}

#toast-notification.show {
    visibility: visible !important;
    opacity: 1 !important;
}
